* {
    max-width: 730px;
    max-height: 450px;
}

#clicker {
    width: 125px;
    height: 100px;
    cursor: pointer;
}

#autoClicker {
    position: relative;
    display: flex;
    left: 35%;
}

#clear {
    position: relative;
    left: 45%;
}

/* #bannerimg{
    position: relative;
    width: 75px;
    height: 30px;
    z-index: 0;
} */

.container {
    padding: 10px 10px;
    border: 2px solid green;
    /* background-color: rgb(165, 118, 126); */
    background-image: url("donutbanner.png");
}

#info {    
    display: flex;
    list-style-type: none;
    background-color: pink;
    padding: 10px;
    justify-content: space-around;
}

.headerButtons {
    background-color: green;
    color: pink;
    cursor: pointer;
    text-align: center;

}

.headerButtons:hover {
    background-color: blue ;
}

.headerInfo {
    display: none;
    overflow: hidden;
    background-color: pink;
    width: 300px;
}

ul p {
    text-align: center;
    border: 1px dotted green;
    border-radius: 25px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(194, 194, 235, 0.5); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: pink;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 3px dotted #888;
    width: 80%; /* Could be more or less, depending on screen size */
    color: rgb(2, 36, 2);
    border-radius: 25px;
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }